*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body
{
    user-select: none;
    -webkit-user-drag: none;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: max(80%);
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    /*overflow: hidden;*/
}

.container {
    height: 100%;
    padding: 0 20px;
  }
h1 {
    display: flex;
    flex-direction: row;
}

h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
 }

h1:before {
    margin-right: 10px
  }

h1:after {
    margin-left: 10px
  }

a:link{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    margin:auto;
    font-size: clamp(1rem, 2vw, 2rem);
  }

a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover{
    color: rgb(41, 168, 168);
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
.base{
  height: 20%;
  width: 20%;
  justify-self: center;
  position: relative;
}
.california{
  position: relative;
  height: 100px;
  width: 100px;
  animation: gra 10s pause 20s 5s steps(1) infinite;
  
    animation-direction: reverse;
    -webkit-animation: gra 500ms infinite;
    -webkit-animation-direction:alternate-reverse;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  clip-path: polygon(
    8% 0%, 41% 0%, 41% 0%, 42% 28%, 
    42% 28%, 91% 70%, 91% 70%, 91% 71%, 
    91% 71%, 91% 72%, 91% 72%, 92% 73%, 
    92% 73%, 93% 74%, 93% 74%, 93% 76%, 
    93% 76%, 94% 77%, 94% 78%, 93% 79%, 
    93% 79%, 93% 83%, 93% 83%, 92% 85%, 
    92% 85%, 92% 87%, 92% 87%, 91% 88%, 
    91% 88%, 91% 89%, 91% 89%, 92% 91%, 
    92% 91%, 92% 91%, 92% 91%, 93% 92%, 
    93% 92%, 94% 93%, 94% 93%, 93% 95%, 
    93% 95%, 70% 98%, 70% 98%, 69% 97%, 
    69% 97%, 68% 96%, 68% 96%, 68% 95%, 
    68% 95%, 68% 92%, 68% 92%, 67% 91%, 
    67% 91%, 64% 88%, 64% 88%, 62% 87%, 
    62% 87%, 60% 85%, 60% 85%, 58% 85%, 
    58% 85%, 56% 85%, 56% 85%, 54% 83%, 
    54% 83%, 52% 82%, 52% 82%, 51% 81%, 
    51% 81%, 49% 81%, 49% 81%, 46% 79%, 
    46% 79%, 43% 79%, 43% 79%, 41% 79%, 
    41% 79%, 38% 79%, 38% 79%, 37% 76%, 
    37% 76%, 38% 75%, 38% 75%, 37% 71%, 
    37% 71%, 37% 71%, 37% 71%, 36% 71%, 
    36% 71%, 35% 70%, 35% 70%, 36% 68%, 
    36% 68%, 35% 68%, 35% 68%, 32% 66%, 
    32% 66%, 29% 62%, 29% 62%, 27% 59%, 
    27% 59%, 27% 58%, 27% 58%, 26% 57%, 
    26% 57%, 26% 55%, 26% 55%, 26% 55%, 
    26% 55%, 27% 54%, 27% 54%, 27% 53%, 
    27% 53%, 27% 52%, 27% 52%, 26% 52%, 
    26% 52%, 24% 51%, 24% 51%, 23% 50%, 
    23% 50%, 23% 50%, 23% 50%, 21% 49%, 
    21% 49%, 21% 46%, 21% 46%, 21% 45%, 
    21% 45%, 22% 43%, 22% 43%, 22% 43%, 
    22% 43%, 22% 43%, 22% 43%, 23% 41%, 
    23% 41%, 23% 40%, 23% 40%, 22% 40%, 
    22% 40%, 21% 40%, 21% 40%, 18% 39%, 
    18% 39%, 18% 39%, 18% 39%, 17% 38%, 
    17% 38%, 17% 38%, 17% 38%, 16% 37%, 
    16% 37%, 15% 36%, 15% 36%, 13% 34%, 
    13% 34%, 12% 33%, 12% 33%, 12% 32%, 
    12% 32%, 11% 30%, 11% 30%, 11% 28%, 
    11% 28%, 11% 27%, 11% 27%, 11% 25%, 
    11% 25%, 10% 25%, 10% 25%, 10% 23%, 
    10% 23%, 10% 21%, 10% 21%, 10% 20%, 
    10% 20%, 9% 19%, 9% 19%, 8% 18%, 
    8% 18%, 8% 17%, 8% 17%, 7% 16%, 
    7% 16%, 6% 16%, 6% 16%, 6% 15%, 
    6% 15%, 5% 13%, 5% 13%, 6% 10%, 
    6% 10%, 7% 10%, 7% 10%, 7% 9%, 
    7% 9%, 8% 7%, 8% 7%, 8% 5%, 8% 5%);
}
@keyframes gra {
    0% {
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #696563), color-stop(21%, #696563), color-stop(56%, #ffffff), color-stop(88%, #4b584f));
      background: -webkit-linear-gradient(-45deg, #696563 0%, #696563 21%, #ffffff 56%, #4b584f 88%);
      background: linear-gradient(135deg, #696563 0%, #696563 21%, #ffffff 56%, #4b584f 88%);
    }
    50% {
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #696563), color-stop(10%, #696563), color-stop(40%, #ffffff), color-stop(60%, #4b584f));
      background: -webkit-linear-gradient(-45deg, #696563 0%, #696563 10%, #ffffff 40%, #4b584f 60%);
      background: linear-gradient(135deg, #696563 0%, #696563 10%, #ffffff 40%, #4b584f 60%);
    }
    100% {
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #696563), color-stop(5%, #696563), color-stop(10%, #ffffff), color-stop(40%, #4b584f));
      background: -webkit-linear-gradient(-45deg, #696563 0%, #696563 5%, #ffffff 10%, #4b584f 40%);
      background: linear-gradient(135deg, #696563 0%, #696563 5%, #ffffff 10%, #4b584f 40%);
    }
  }